&.right {
  padding-left: $margin;
}

header {
  .typo {
    margin-top: 50%;
    margin-left: $margin;
    font-family: 'M+ 1p';
    font-weight: 800;
    font-size: 15mm;

    .title {
      display: inline-block;
      padding-bottom: 1mm;
      border-bottom: 3mm solid $font-color;
    }

    .sub_title {
      margin-top: 5mm;
      font-size: 8mm;
    }
  }
}
