
&.left { padding-right: $margin; }
&.right { padding-left: $margin; }

header {
  .box {
    .typo {
      margin-top: 4mm;
      .year { font-size: 8mm; }
      .nengo { font-size: 2.4mm; }
    }
  }
}

.months {
  .month {
    float: left;
    padding: 0 $section * 1.8 0 0;
    width: ($page-width - $section * 2 * 4) / 3;
    min-height: $section * 10;
    overflow: hidden;
    font-size: 2.5mm;

    h2 {
      font-size: $section * 0.8;
      margin: 0 0 2mm 1mm;
    }

    table.calendar {
      width: 100%;

      th, td {
        @extend %wday-font;
        text-align: center;
        height: $section;
      }

      td {
        @extend %wday-bg;
      }

      th {
        font-weight: bold;
      }
    }
  }
}
