@import "compass";
@import "../fonts";

@include global-reset();

// Size

$page-width: 130mm;
$page-height: 210mm;

// Color

$font-color: #666666;
$bg-color: #EEEEEE;
$border-color: #DDDDDD;
$saturday: lighten($font-color, 25%);
$sunday: red;
$holiday: red;

@media print {
  @page {
    size: $page-width $page-height;
    margin: 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

.preview-wrapper {

  & > .pages {
    display: flex;

    .page > iframe {
      width: $page-width;
      height: $page-height;
    }
  }
}

.page-wrapper {
  color: $font-color;
  font-size: 10pt;
  font-family: 'MigMix-1M-Regular';

  width: $page-width;
  height: $page-height;
  box-sizing: border-box;
  overflow: hidden;

  &.left { padding-left: 8mm; }
  &.right { padding-right: 8mm; }

  .saturday {
    color: $saturday;
  }

  .sunday {
    color: $sunday;
  }

  .holiday {
    color: $holiday;
  }

  header {
    margin-bottom: 8mm;
    min-height: 30mm;

    .box {
      padding: 2mm;
      box-sizing: border-box;
      background: $bg-color;
      width: 40mm;
      height: 30mm;
    }
  }

  &#year-calendar {
    @import "year_calendar";
  }

  &#year-index {
    header {
      .box {
        .typo {
          margin-top: 5mm;
          .year { font-size: 10mm; }
          .nengo { font-size: 3mm; }
        }
      }
    }
    .months {
      width: 100%;
      border-collapse: collapse;

      td, th {
        box-sizing: border-box;
        padding: 1mm 1.5mm;
        border: 1px solid $border-color;
      }

      th {
        height: 12mm;
        font-size: 4mm;
      }

      tr:last-child {
        td {
          border-bottom: 1px solid $border-color;
        }
      }

      td {
        font-size: 2.5mm;
        border-top: none;
        border-bottom: 1px dashed $border-color;
      }
    }
  }
}