@import "compass";
@include global-reset();
@import "common";

@media print {
  @page {
    size: $page-width $page-height - 1mm;
    margin: 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

.preview-wrapper {

  & > .pages {
    display: flex;

    .page,
    .page > iframe {
      width: $page-width;
      height: $page-height;
    }
  }
}

.page-wrapper {
  padding: $margin;
  color: $font-color;
  font-size: 10pt;
  // Install M+ FONTS from http://mplus-fonts.sourceforge.jp/
  font-family: 'M+ 1m', 'Helvetica';

  width: $page-width;
  height: $page-height - 1mm;
  box-sizing: border-box;
  overflow: hidden;

  &.left {
    border-right: $border-width dashed $border-color;
    padding-right: 0;
  }
  &.right { padding-left: 0; }

  header {
    margin-bottom: $section;
    min-height: $section * 7;

    .box {
      padding: 2mm;
      background: $bg-color;
      width: -2mm + ($page-width - 8mm) / 4;
      height: -2mm + $section * 6;
    }
  }

  &#month-cover,
  &#week-cover {
    @import "cover";
  }

  &#year-calendar {
    @import "year_calendar";
  }

  &#year-index {
    @import "year_index";
  }

  &#month-plan,
  &#year-plan {
    @import "plan";
  }

  &#month-calendar {
    @import "month_calendar";
  }

  &#week-calendar-vertical {
    @import "week_calendar_vertical";
  }

  // Page index
  .page_index {
    @extend %month-index;
    position: absolute;
    top: 0mm;
    width: 2mm;
    height: $index_height;
    background-color: red;
  }

  &.left .page_index {
    left: -1mm;
  }

  &.right .page_index {
    right: -1mm;
  }
}
