- content_for :assets do
  = stylesheet_link_tag "notebook/main", media: :all

- params = request.params
- pages = sitemap.resources.select{|n| n.path =~ %r(^notebook/page(.+)(\.html)$) }
- pages = pages.unshift(nil)

.preview-wrapper

  - pages.in_groups_of(2).each.with_index do |group, index|
    - if params[:page].blank? || params[:page].to_i == index
      .pages
        - group.each do |page|
          .page
            - if page
              %iframe{ src: page.url, scrolling: :no }
