- content_for :assets do
  = stylesheet_link_tag "notebook/main", media: :all

#year-plan.page-wrapper{ class: [direction] }

  %header
    - if direction == :left
      .typo
        .y
          = year.strftime("%Y")

  .content
    .grid
      = partial 'svg/section', locals: { section: 4, w: 120, h: 180 }
    - if direction == :left
      %section#vision
        %h2
          VISION
        .box

    - else
      %section#record
        %h2
          RECORD
        .box
