---
layout: false
---
!!! XML
%svg(width="210mm" height="297mm" viewBox="0 0 210 297" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
  %defs
    %g#grid-line
      %line(x1="0" y1="0" x2="0" y2="300" stroke="gray" stroke-width=".1" stroke-dasharray=".5")

  - 60.times do |n|
    %g(transform="translate(#{n*4}, 0)")
      %use(xlink:href="#grid-line")
    %g(transform="translate(0, #{n*4})")
      %use(xlink:href="#grid-line" transform="rotate(-90)")
