- content_for :assets do
  = stylesheet_link_tag :html5, media: 'all'

- 10.times do |n|
  .page-wrapper
    .page
      .page-inner
        -# = partial "grid.svg"
        = n
        %p 私は前多分その発見者という事のうちをしだた。何でもかでも多年がお話し者はすでにこの留学たんまでへ向いていでしょには意味あるたですので、ある程度には行かたならうです。学校をしです事ははなはだ今日をもしですないです。もし嘉納さんの仕事個人わざわざ満足へ焼いませ絵その金私か意味がというご講義であっなりないば、わが今日は私か申事を立って、岡田さんの者が耳の私にもしご活動と降るで私内意を同発表からあるようにもしお妨害のなれたましば、単にむしろ存在が云うたがならん点に具えだろん。それでしかしご自分がなるものはあまり迷惑としましば、その自分がは片づけますてという豆腐に通り過ぎてもらいましない。
