- content_for :assets do
  = stylesheet_link_tag "html5/html5", media: 'all'

- date = Date.today
.page-wrapper
  %header
    = date.strftime("%Y %m")
  .content
    - from = date.beginning_of_month.beginning_of_week
    - to = date.end_of_month.end_of_week
    - (from .. to).each do |d|
      - if [1,2,3].include?(d.wday)
        - if d.month == date.month
          .date.current{ class: d.strftime("%A").downcase }
            = d.strftime("%d %a")
        - else
          .date
            = d.strftime("%d %a")
