@import 'compass';

$page-width: 128mm;
$page-height: 182mm;

@media print {
  @page {
    size: $page-width $page-height;
    margin: 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

.page-wrapper {

  &.a4 {
    width: 210mm;
    height: 297mm;
  }

  &.a5 {
    width: 148mm;
    height: 210mm;
  }

  width: $page-width;
  height: $page-height;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  margin-top: -0.5mm;

  box-sizing: border-box;
  background: rgba(gray, .1);

  & > * {
    flex: 1;

    background: rgba(gray, .1);
    border: 1px solid white;
  }

  .content {
    display: flex;
    flex: 3;
    flex-wrap: wrap;

    .date {
      box-sizing: border-box;
      background: rgba(white, 0.5);
      border: 1px solid white;
      flex: 1 0 (100% / 3);

      &.current {
        background: rgba(white, 1);

        &.sunday {
          background: red;
        }

        &.saturday {
          background: blue;
        }
      }
    }
  }
}
