@import 'compass';

$page-width: 128mm;
$page-height: 182mm;

@media print {
  @page {
    size: $page-width $page-height;
    margin: 0;
  }
}

body {
  margin: 0;
  padding: 0;
}

.html5_sample {
  @import 'sample';
}

.html5_sample2 {
  @import 'sample2';
}
